@use './theme-tokens' as *;

// Base styling for general HTML Elements

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--theme-color-background);
  font-family: var(--font-family-base);
  color: var(--theme-text-base);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family-code);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-family-base);
  color: var(--theme-text-base);
  line-height: 1.25;
  margin-block: var(--space-4);
}

h1,
.h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-light);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-light);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-light);
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-light);
}

h5,
.h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-regular);
}

h6,
.h6 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-regular);
}

p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  line-height: var(--font-line-height-body);
}

::-moz-focus-inner {
  border: 0;
}

