.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--space-32);
  background-color: var(--theme-color-foreground);
  border-radius: var(--border-radius-4);
  border: 1px solid var(--theme-border-base);
}

.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
}

.actionButtons {
  display: flex;
  flex-direction: row;
  gap: var(--space-16);
  margin-top: var(--space-24);
}
