@use '../abstracts/' as *;
@use '../foundations' as *;

// Grid System

.grid-container {
  display: grid;
  gap: $grid-gap;
}

// Set the width of each grid item to fill the grid column

.grid > * {
  width: 100%;
}

// Set the height of each grid item to match its content

.grid > * > * {
  height: auto;
}

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  @include mq(md) {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.grid-auto-fit {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
}
