.ssnContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ssnContainer * svg {
  vertical-align: middle;
  color: var(--theme-icon-base);
}

.ssnText {
  vertical-align: middle;
  color: var(--theme-text-base);
  margin-inline-start: var(--space-4);
}
