.drawerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 350px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 7000;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  gap: var(--space-16);
  padding: var(--space-24);
}

.closeButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--space-24);
  right: var(--space-12);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: var(--space-8);
  border-radius: 100px;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: var(--color-neutral-20);
}

.closeButton svg {
  width: 20px;
  height: 20px;
  color: var(--color-neutral-100);
}
