.fileUploader {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.fileContainer {
  display: grid;
  gap: var(--space-12);
  grid-template-columns: 1fr;
}

.fileDescription {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-body);
  color: var(--theme-text-muted);
}

.fileDropContainer {
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-16);
  margin: 0;
  font-family: inherit;
  vertical-align: baseline;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  text-align: center;
  inline-size: 100%;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-body);
  color: var(--theme-color-primary);
  border: 2px dashed var(--theme-color-primary);
  border-radius: var(--border-radius-4);
  background-color: var(--theme-button-filled-primary-focus-outline);
  transition: all 0.2s ease-in-out;
}

.fileDropContainer:hover {
  border-color: var(--theme-color-primary);
  background-color: var(--theme-color-foreground);
}

.fileDropContainer:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--theme-button-filled-primary-focus-outline);
}

.fileDropContainer:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled:not([disabled]):hover {
  background-color: var(--theme-color-foreground);
}

.fileDropContainer .disabled > button {
  opacity: 0.5;
  cursor: not-allowed;
}

.fileDropContainer .disabled > button:hover {
  background-color: var(--theme-button-filled-primary-hover-bg);
}

.fileDropContainer .disabled > button:focus {
  outline: none;
  box-shadow: none;
}

/* Layout variants */

.left {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
