.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 32px;
  font-family: var(--font-family-base);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 32px;
  width: 100%;
  max-width: 600px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  padding: 16px;
  border-radius: 8px;
}

.output {
  color: var(--color-white);
  background-color: var(--color-neutral-100);
  padding: 16px;
  border-radius: 4px;
}
