.suggestionList {
  background: var(--theme-color-foreground);
  border: 1px solid var(--theme-border-base);
  border-radius: var(--border-radius-4);
  max-height: 200px;
  overflow-y: auto;
  box-shadow: var(--shadow-bottom-8);
}

.suggestionItem {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestionItem:hover,
.highlighted {
  background-color: var(--color-neutral-20);
}
